@model Sprint.MVC.Models.Trainer.TrainerInfoViewModel

<h4>Trainer informations</h4>
<table class="table table-striped">
    <tbody>
    <tr>
        <td>Name</td>
        <td>@Model.Trainer.User.FirstName @Model.Trainer.User.LastName</td>
    </tr>

    <tr>
        <td>Hourly rate</td>
        <td>@Model.Trainer.HourlyRate</td>
    </tr>

    <tr>
        <td>Description</td>
        <td>@Model.Trainer.Description</td>
    </tr>
    
    
    <tr>
        <td>Rating</td>
        <td>@Model.TrainerRating</td>
        
        @if (User.IsInRole("Admin") || User.IsInRole("User") || User.IsInRole("Trainer"))
        {
            <a class="btn btn-secondary my-1" href="@Url.Action("ReviewsGetByTrainer", "TrainerReview", new { trainerId = Model.Trainer.Id })">Trainer Reviews</a>
            
        }
    </tr>
    
    <tr>
        <td>Photos</td>
        @foreach (var photoPath in Model.PhotoPaths)
        {
            <td>@photoPath.ToString()</td>
        }
    </tr>
    
    </tbody>
</table>

@if (User.IsInRole("Admin"))
{
    @using (Html.BeginForm("Delete", "Trainer", new { id = Model.Trainer.Id }, FormMethod.Post, true, new { @class = "form-inline" }))
    {
        <a class="btn btn-secondary my-1" href="@Url.Action("Edit", new { id = Model.Trainer.Id })">Edit</a>
    }

    @using (Html.BeginForm("Delete", "Trainer", new { id = Model.Trainer.Id }, FormMethod.Post, true, new { @class = "form-inline" }))
    {
        <a class="btn btn-secondary my-1" href="@Url.Action("Reservations", new { id = Model.Trainer.Id })">Reservations</a>
    }
}