@model Sprint.MVC.Models.User.UserIndexViewModel

@* @{
    Layout = null;
} *@

<!DOCTYPE html>

<html>

<h2>Users</h2>
@* <a class="btn btn-primary" href="@Url.Action("Add")">Add</a> *@
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width:35%">Name</th>
            <th style="width:45%">Role</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            @if (!user.IsDeleted)
            {
                <tr>
                    <td>@user.FirstName @user.LastName</td>
                    <td>@user.Role</td>
                    <td>
                        @using (Html.BeginForm("Delete", "User", new { id = user.Id }, FormMethod.Post, true, new { @class = "form-inline" }))
                        {
                            <a class="btn btn-secondary my-1" href="@Url.Action("Edit", new { Id = user.Id })">Edit</a>
                            <a class="btn btn-secondary my-1" href="@Url.Action("Info", new { Id = user.Id })">Info</a>
                            <a class="btn btn-secondary my-1" href="@Url.Action("Delete", new { Id = user.Id })">Delete</a>
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>


</html>